@font-face {
    font-family: light;
    src: url("../fonts/ProximaNovaAltCondensedLight.otf") format("opentype");
}
@font-face {
    font-family: bold;
    src: url("../fonts/ProximaNovaAltExtraCondensedLight.otf") format("opentype");
}

body {
    padding: 0;
    background: white;
    color: #135959;
    max-width: 1900px;
    margin: auto;
    font-family: light;
}

.maxima_logo {
    position: fixed;
    top: 0;
    left: 10%;
    z-index: 1002;
    height: 3rem;
    margin: 0.5rem;
}

.berghoff_logo {
    position: fixed;
    top: 0;
    right: 10%;
    z-index: 1002;
    height: 3rem;
    margin: 0.5rem;
}

#nav-border {
    position: fixed;
    top: 0;
    max-width: 1900px;
    height: 4rem;
    width: 100%;
    display: inline-flex;
    background-color: white;
    z-index: 1001;
}

.nav_items_language {
    position: relative;
    left: 32%;
    font-size: 1.6rem;
    display: inline-flex;
    width: 10%;
    justify-content: center;
    font-family: bold;
    align-items: center;
}

.nav_items_menu {
    position: relative;
    left: 22%;
    top: 1%;
    font-size: 1.4rem;
    display: inline-flex;
    gap: 20%;
    width: 60%;
    justify-content: center;
    font-family: bold;
    align-items: center;
}

.nav_items_language a {
    color:  #135959;
    text-decoration: none;
}

.nav_items_menu a {
    color:  #135959;
    text-decoration: none;
    font-weight: bolder;
}

.nav_item {
    margin-right: 10px;
}

.page_img img {
    width: 100%;
    margin-bottom: 50px;
    display: block;
}

.footer {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.products_menu {
    position: fixed;
    top: 3rem;
    width: 30%;
    height: 2.5rem;
    display: block;
    justify-content: space-evenly;
    background-color: white;
    z-index: 1001;
    padding-left: 35%;
    padding-right: 35%;
}

.products_menu_item {
    min-width: 110px;
    text-decoration: none;
    color: #FCF4DC;
    font-size: 1rem;
    display: inline-flex;
    margin: 1% 1%;
    background-color: #135959 ;
    border: #135959 solid 1px;
    justify-content: center;
    padding: 0.3%;
    border-radius: 70px;
}

.products_menu_item:hover {
    color: #135959;
    background-color: #FCF4DC;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 4%;
    justify-content: center;
    display: table;
    table-layout: fixed;
    width: 90%;
    margin-top: 1%;
}

.container .product_section {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    margin-top: 0;
}

.container .product_section .products {
    display: flex;
    gap: 20px 30px;
    flex-wrap: wrap;
    width: 100%;
    float: left;
    margin-left: 5%;
    margin-right: auto;
}

.container .product_section img {
    max-width: 100%;
}

.container .card {
    position: relative;
    width: 204.8px;
    height: 288px;
    background: #135959;
    border-radius: 16px;
    overflow: hidden;
    margin: 16px;
    border: solid #135959 1px;
}

.container .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FCF4DC;
    clip-path: circle(100px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .light_card {
    position: relative;
    width: 204.8px;
    height: 288px;
    background:#FCF4DC;
    border-radius: 16px;

    overflow: hidden;
    margin: 16px;
    border: solid #FCF4DC 1.6px;
}

.container .light_card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #135959;
    clip-path: circle(102.4px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card:hover:before {
    clip-path: circle(192px at 80% -20%);
}

.container .card:after {
    content: "------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------";
    width: 800px;
    position: absolute;
    top: 0%;
    left: 0%;
    font-size: 3.2em;
    font-weight: 800;
    font-style: italic;
    color: rgba(252, 244, 220, 0.1);
    /* transform: rotate(-30deg); */
}

.container .card .imgBx {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 800;
    width: 100%;
    height: 100%;
    transition: .5s;
}

.container .card:hover .imgBx {
    top: 0%;
    transform: translateY(-25%) rotate(-20deg);
}

.container .card2:hover .imgBx {
    top: 0%;
    transform: translateY(-25%) rotate(-75deg);
}

.container .card3:hover .imgBx {
    top: 0%;
    transform: translateY(-30%) rotate(-75deg);
}

.container .card3s:hover .imgBx {
    top: 0%;
    transform: translateY(-25%) rotate(-20deg);
}

.container .card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
    width: 270px;
    width: 80%;
}

.container .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    transition: 1s;
    z-index: 90;
}

.container .card:hover .contentBx {
    height: 152px;
}

.container .card3:hover .contentBx {
    height: 120px;
}

.container .card .contentBx h2 {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2.4px;
    color: #fff;
    margin: 2.4px;
    word-spacing: 4px;
}

.container .light_card .contentBx h2 {
    color: #135959;
}

.container .card .contentBx .size {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 6.4px 6.4px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.container .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}

.container .card .contentBx .size h3 {
    color: white;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    margin-right: 8px;
}

.container .light_card .contentBx .size h3 {
    color: #135959;
}

.sticker {
    height: 56px;
}
.sticker_content {
    display: inline-flex;
    align-items: center;
}

.promotion {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 60px;
    height: 60px;
    background: red;
    border-radius: 50%;
    margin: 0 5px;
    text-align: center;
    color: white;
    font-size: 20px;
    line-height: 60px;
}

.container .card:hover .promotion {
    transform: translate(10px, -10px) rotate(20deg);
}

.rules_content {
    width: 100%;
    margin: auto;
}

.rules_content img {
    width: 100%;
}

.rules_container {
    position: relative;
    display: flex;
    gap: 20px;
    padding: 40px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 80%;
}

.berghoff {
    margin-left: auto;
    margin-right: auto;
    display: block;
}