@font-face {
    font-family: light;
    src: url("../fonts/ProximaNovaAltCondensedLight.otf") format("opentype");
}
@font-face {
    font-family: bold;
    src: url("../fonts/ProximaNovaAltExtraCondensedLight.otf") format("opentype");
}

body {
    background: white;
    color: #063538;
    max-width: 1500px;
    margin: auto;
    font-family: light;
    margin-top: 1%;
}

.maxima_logo {
    z-index: 1002;
    position: fixed;
    top: 0.5%;
    left: 12vw;
    height: 100%;
    max-height: 65px;
}

.berghoff_logo {
    z-index: 1002;
    position: fixed;
    top: 0;
    right: 12vw;
    max-height: 80px;
}

#nav-border {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 80px;
    width: 100%;
    z-index: 1002;
    background-color: white;
}

.nav_items_language {
    position: absolute;
    right: 0;
    display: inline-flex;
    height: 100%;
    width: 6vw;
    justify-content: center;
    font-family: bold;
    align-items: center;
    font-size: 2.5vw;
}

.nav_items_menu {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: inline-flex;
    height: 120%;
    text-align: center;
    margin: 0 auto;
    gap: 10px;
    font-family: bold;
    align-items: center;
    font-size: 2.5vw;
    white-space: wrap;
    font-weight: lighter;
}

.nav_items_menu a {
    min-width: 100px;
    width: 30%;
    max-width: 250px;
}

@media screen and (min-width: 1600px) {
    .nav_items_language {
       font-size: 35px;
    }
    .nav_items_menu {
        font-size: 35px;
    }
  }

.nav_items_language a {
    color:  #063538;
    text-decoration: none;
    margin-left: 8px;
}

.nav_items_language a:hover {
    color: #05545a;
    opacity: 0.8;
}

.nav_items_menu a {
    color:  #063538;
    text-decoration: none;
    font-weight: bolder;
}
.nav_items_menu a:hover {
    color: #05545a;
    opacity: 0.8;
}

.footer {
    position: relative;
    bottom: 0;
    text-align: center;
}

.products_menu {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
    z-index: 1001;
    justify-content: center;
    max-width: 100%;
    padding-bottom: 1%;
}

.products_menu_item {
    min-width: 120px;
    width: 20%;
    text-decoration: none;
    color: #FCF4DC;
    font-size: 1.2rem;
    display: inline-flex;
    /* margin: 1% 1%; */
    background-color: #135959 ;
    border: #135959 solid 1px;
    border-radius: 16px;
    justify-content: center;
}

.products_menu_item:hover {
    color: #063538;
    background-color: #FCF4DC;
}

.distance {
    height: 18vh;
}

.mobile {
    opacity: 0;
    height: 0;
    display: none !important;
}

.no-mobile {
    opacity: 1;
    height: 100%;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: table;
    table-layout: fixed;
    max-width: 1500px;
}

.container .product_section {
    display: table-cell;
    width: 50%;
    margin-top: 0;
    padding: 0 20px !important;
    max-width: 740px;
    min-width: 500px;
    max-height: 1200px;
}

.container .product_section .products {
    position: absolute;
    top: 0;
    display: flex;
    gap: 20px 20px;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-evenly !important;
    max-width: 48%;
}

.container .product_section img {
    max-width: 100%;
    border-radius: 16px;
}

.container .card {
    display: flex;
    position: relative;
    flex: 40%;
    flex-wrap: wrap;
    max-height: 442px;
    max-width: 340px;
    min-height: 270px;
    min-width: 200px;
    background: radial-gradient( #05545a, #063538);
    border-radius: 16px;
    overflow: hidden;
    border: solid #063538 1px;
    flex-grow: 2;
}

.container .card_pan {
    flex: 48%;
    flex-grow: 0;
}

.container .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FCF4DC;
    clip-path: circle(40% at 80% 18%);
    transition: 0.5s ease-in-out;
}

.container .card:hover:before {
    clip-path: circle(75% at 55% -22%);
}

.container .card:after {
    content: "--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------";
    width: 350px;
    position: absolute;
    top: 0%;
    left: 0%;
    font-size: 6em;
    font-weight: 800;
    font-style: italic;
    color: rgba(252, 244, 220, 0.1);
    line-height: 30px;
}

.container .card .imgBx {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 800;
    width: 100%;
    height: 100%;
    transition: .5s;
}

.container .card:hover .imgBx {
    top: 0%;
    transform: translateY(-25%) rotate(-20deg);
}

.container .card3:hover .imgBx {
    top: 0%;
    transform: translateY(-30%) rotate(-75deg);
}

.container .card3s:hover .imgBx {
    top: 0%;
    transform: translateY(-20%) rotate(-20deg);
}

.container .card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
    width: 270px;
    width: 80%;
}

.container .card3 .imgBx img {
    top: 45%;
}

.container .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35%;
    text-align: center;
    transition: 1s;
    z-index: 90;
}

.container .card:hover .contentBx {
    height: 50%;
}

.container .card3:hover .contentBx {
    height: 40%;
}

.container .card .contentBx h1, h2, h3 {
    position: relative;
    font-size: 2vh;
    font-weight: 600;
    letter-spacing: 2.4px;
    color: #fff;
    margin: 8px 0 0 0;
    word-spacing: 4px;
    line-height: 2vh;
    font-weight: lighter;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.container .card .contentBx h3 {
    font-size: 1.8vh;
    line-height: 1.8vh;
}

.container .card .contentBx h1 {
    font-size: 3vh;
    line-height: 3vh;
}

.container .card .contentBx s {
    color: red;
    font-size: 60%;
}

@media screen and (max-width: 1200px) {
    .container .card .contentBx h2 {
       font-size: 15px;
       line-height: 15px;
    }
    .container .card .contentBx h3 {
        font-size: 12px;
        line-height: 12px;
    }
  }

.container .card .contentBx .size {
    display: block;
    justify-content: center;
    align-items: center;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.container .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}

.container .card .contentBx .size h3 {
    color: white;
    font-weight: 300;
    font-size: 1.5vh;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    margin-right: 8px;
    line-height: 1.2vw;
    margin: 3px;
}

.sticker {
    min-height: 40px;
    max-height: 80px;
}

.sticker_content {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.promotion {
    position: absolute;
    top: 3%;
    right: 3%;
    width: 80px;
    height: 80px;
    background: red;
    border-radius: 50%;
    margin: 0 5px;
    text-align: center;
    color: white;
    font-size: 30px;
    line-height: 80px;
}

.container .card:hover .promotion {
    transform: translate(10px, -10px) rotate(20deg);
}

.rules_content {
    width: 95%;
    margin: auto;
}

.rules_content img {
    width: 100%;
}

.no_promotion {
    width: 90%;
    border-top: #063538 8px solid;
    border-bottom: #063538 8px solid;
}

.no_promotion p {
    text-align: center;
    font-size: 30px;
    font-weight: 500px;
}

.rules_container {
    position: relative;
    display: flex;
    gap: 10px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 100px;
    width: 80%;
}

.berghoff {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.ham-menu {
    opacity: 0;
    height: 0;
}

@media screen and (max-width: 720px) {
    .body, .container, .rules_container {
        width: 98%;
        padding: 0;
    }
    .maxima_logo {
        margin-top: 5px;
        max-height: 30px;
        left: 50%;
        transform: translateX(-100%);
    }
    .berghoff_logo {
        margin-top: 5px;
        max-height: 40px;
        left: 50%;
    }
    .ham-menu {
        height: 20%;
    }
}

@media screen and (max-width: 1400px) {

    /* Mobile menu */
    :root {
        --home-bg-color: white;
        --menu-bg-color: #063538;
        --icon-hover-bg: white;
        --border-color: #063538;
        --lightest-green: #063538;
        --dark-green: white;
        --border-radius: 60px 5px;
    }

    .nav_items_language {
        opacity: 0;
    }

    .nav_items_menu {
        opacity: 0;
    }

    .body, .container, .rules_container {
       position: relative;
        width: 100%;
        padding: 0;
        display: block;
    }

    .container {
        position: relative;
        display: block;
        width: 100%;
    }

    .product_section {
        position: relative;
        display: block !important;
        min-width: 100% !important;
        width: 100% !important;
        text-align: center;
        max-width: 700px !important;
        max-height: 2000px !important;
    }

    .products {
        position: relative !important;
        display: block;
        max-width: 700px !important;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100% !important;
        height: 100% !important;
    }

    .mobile {
        opacity: 1;
        height: 100%;
    }

    .no-mobile {
        opacity: 0;
        height: 0;
    }

    .distance {
        height: 100px;
    }

    .footer {
        position: relative;
        bottom: 0;
        text-align: center;
    }

    .card {
        min-height: 400px !important;
        flex-grow: 1 !important;
    }

    .card3 {
        min-height: 400px !important;
    }

    .container .card .contentBx .size {
        display: block;
        justify-content: center;
        align-items: center;
        transition: .5s;
        opacity: 1;
        visibility: visible;
    }

    .container .card .contentBx {
        height: 50% !important;
    }

    .container .card3 .contentBx {
        height: 40% !important;
    }

    .container .card .imgBx {
        top: 0%;
        transform: translateY(-25%) rotate(-20deg);
    }
    .container .card3 .imgBx {
        top: 0%;
        transform: translateY(-30%) rotate(-75deg);
    }

    .container .card3s .imgBx {
        top: 0%;
        transform: translateY(-20%) rotate(-20deg);
    }

    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
    }

    #ham-menu {
        display: none;
    }
    label[for="ham-menu"] {
        display: block;
        position: fixed;
        top: 7.5px;
        left: 5px;
        z-index: 2000;
        width: 40px;
        height: 40px;
        border-radius: 7.5px;
    }
    .ham-menu {
        opacity: 1;
        width: 100%;
        height: 70%;
        position: fixed;
        top: 0;
        left: 0;
        visibility: hidden;
        transform: translate(-100%);
        z-index: 1999;
        background-color: var(--lightest-green);
        transition: 1s;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ham-menu > ul {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        padding: 10px;
        height: 50%;
    }
    .ham-menu > ul > li {
        font-size: 5rem;
        white-space: nowrap;
        letter-spacing: 0.15em;
        cursor: pointer;
        color: rgb(97, 97, 97);
    }
    #ham-menu:checked + label {
        background-color: transparent;
        border-color: var(--dark-green);
    }
    #ham-menu:checked ~ div.ham-menu {
        transform: translate(0px);
        visibility: visible;
    }
    .full-page-green {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: var(--dark-green);
        z-index: 1997;
        opacity: 0;
        visibility: hidden;
        display: none;
        transition: 500ms;
        position: fixed;
        top: 0;
        left: 0;
    }
    #ham-menu:checked ~ div.full-page-green {
        display: block;
        opacity: 1;
        visibility: visible;
    }
    [for="ham-menu"] > div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        align-items: center;
    }
    .menu-line {
        display: block;
        width: 20px;
        height: 2px;
        margin: 7px 0 3px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        background-color: var(--border-color);
        transition: 500ms;
        transform-origin: right center;
    }
    [for="ham-menu"] > div > span:nth-child(4),
    [for="ham-menu"] > div > span:nth-child(5),
    [for="ham-menu"] > div > span:nth-child(6) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        transform-origin: left center;
    }
    #ham-menu:checked + label span {
        background-color: var(--dark-green);
    }
    #ham-menu:checked + label span:nth-child(2),
    #ham-menu:checked + label span:nth-child(5) {
        transform: scale(0);
        background-color: var(--border-color);
    }
    #ham-menu:checked + label span:nth-child(1) {
        transform: translateY(11px) rotate(-45deg);
    }
    #ham-menu:checked + label span:nth-child(4) {
        transform: translateY(11px) rotate(45deg);
    }
    #ham-menu:checked + label span:nth-child(3) {
        transform: translateY(-11px) rotate(45deg);
    }
    #ham-menu:checked + label span:nth-child(6) {
        transform: translateY(-11px) rotate(-45deg);
    }
    .ham-menu p {
        display: inline;
        font-size: 1.8rem;
        line-height: 1.5em;
        word-spacing: 0.5em;
        letter-spacing: 0.1em;
        font-family: light;
    }
    .text {
        font-size: 2.5rem;
        line-height: 1.5em;
        word-spacing: 0.5em;
        letter-spacing: 0.1em;
        font-family: light;
    }
    .title {
        font-size: 3rem;
        line-height: 1.5em;
        word-spacing: 0.5em;
        letter-spacing: 0.1em;
        font-family: light;
        color: var(--icon-hover-bg);
        padding: 10px;
    }
    .heading {
        font-size: 6rem;
        line-height: 1.5em;
        word-spacing: 0.5em;
        letter-spacing: 0.1em;
        font-family: bold;
    }
    .ham-menu a {
        font-size: 15px;
        line-height: 20px;
        word-spacing: 0.5em;
        letter-spacing: 0.1em;
        font-family: light;
        display: inline;
        font-weight: bold;
        padding: 7px;
        color: var(--icon-hover-bg);
        text-decoration: none;
        white-space: normal;
    }
    .ham-menu a:hover {
        font-size: 20px;
    }
    .ham-menu a::after {
        display: inline-block;
        font-family: light;
        padding: 5px;
        font-size: 1.6rem;
        transform: rotate(-90deg);
    }
    .centre-text {
        text-align: center;
    }
    .bold-text {
        font-weight: bold;
    }
}