<div id="page_header">
    <div id="nav-border">
        <nav id="nav" class="nav_items_menu sticky">
            {{ range .Site.Menus.main }}
                <a href="{{ .URL | absLangURL }}" class="nav_item">
                {{ $text := print .Name }}
                {{ $text }}
                </a>
            {{ end }}
        </nav>
        <nav class="nav_items_language">
            {{ range .AllTranslations }}
                <a href="{{ .Permalink }}" class="nav_item">{{ .Language.LanguageName }}</a>
            {{ end}}
        </nav>
    </div>
    <img src="images/Berghoff_black.png" alt="bergHOFF" class="berghoff_logo"></img>
    <img src="images/maxima.png" alt="Maxima" class="maxima_logo"></img>
</div>